<!-- One -->
<div id="one" class="container inner-odd">
  <div class="col-md-12 inner">
    <div>
      <header>
        <h2>!!!GML SAISON 4 HYPE!!!</h2>
        <p>29.05.2018</p>
      </header>
      <hr />
      <p> Das Warten hat ein Ende: die GML ist wieder da für weitere Midweek-Action von Montag bis Mittwoch. </p>
      <h3>Was ist neu?</h3>
      <ul>
        <li>Es gibt zwei verschiedene Ligen. GML Prime und GML Ascending.</li>
        <li>Die Mindestgrößte in der Prime sind 30 und in der Ascending 15. In den Playoffs wird die Zahl um fünf erhöht sein.</li>
        <li>Die Semi-Dip-Regelung macht auch 11er-lastigere Breakdowns ligafähig. Durch diese Option sollte es nicht möglich sein auch antreten zu können, wenneine gewisse Anzahl an 10ern nicht erreicht wird. Beispielsweise ist es dann bei einem Breakdown von 7/11/12 gestattet, nur die Hälfte der 10er zu dippen. So wird die Ascending gerade für kleinere 11er lastige Clans interessanter.</li>
      </ul>
    </div>
  </div>
</div>
<!-- Two -->
<div class="container">
  <div class="row inner-even">
    <div class="col-xs-12 col-md-12 inner">
      <header>
        <h3>Was müsst ihr dazu machen?</h3>
      </header>
      <ol>
        <li>Lest euch die vorläufige, aktualisierte durch <a href="https://docs.google.com/document/d/1z7skrhtv4NBUwWC_MFj6yQSs2lN1DfScJWB5Dh2ajGk/edit?usp=sharing" target="_blank"> Satzung </a> durch. Beachtet, dass sich ein paar Details in der finalen Version noch ändern werden.</li>
        <li>Tretet dem GML-Lounge-Server (Link siehe unten) bei.</li>
        <li>Weist euch die Bewerberrolle zu.</li>
        <li>Folgt den Informationen, die euch dort zur Verfügung gestellt werden.</li>
      </ol>
      <a mat-stroked-button href="https://discord.gg/TqTGKWB" class="button alt">GML-Lounge</a>
    </div>
  </div>
</div>
