div {
  position: relative;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
}
a {
  color: white;
	text-align: center;
  text-decoration: none;
}

.head-blog *{
  text-align: center;
	margin-bottom: 0;
}
.inner-even {
  padding: 10%;
  background-color: #424242;
}
.inner-even .inner {
  background-color: #212121;
}
.inner-odd {
  padding: 10%;
  background-color: #37474F;
}

.inner-odd .inner {
  background-color: #455A64;
}

.inner {
  padding: 5vh;
}

.inner-4 {
  padding-top: 0;
}

ol, ul{
  text-align: left;
}
