<div class="container inner-even">
  <div id="banner" class="row" >
    <div class="col-md-12 banner-content inner-head">
      <h1>GML</h1>
      <h4>Die deutsche Fairplayleague in Clash of Clans</h4>
      <h4>Jetzt anmelden für die nächste Saison oder sei einfach dabei.</h4>
      <a [ngx-scroll-to]="'#one'" button id="bannerButton" mat-raised-button color="accent"><b>Get Started</b></a>
    </div>
  </div>
</div>
<!-- One -->
<div id="one" class="container inner-odd">
  <div class="col-md-12 inne">
      <header>
        <h2>Was ist die GML?</h2>
      </header>
      <hr />
      <p>Die German Midweekleague ist eine deutschsprachige Liga in Clash of Clans. Sie wurde gegründet von ehemaligen Teilnehmern der CWL und soll ergänzend zu dieser und anderen Ligen, welche am Wochenende stattfinden, ein Umfeld schaffen um Clans in den high competetive Bereich einzuführen und Kriege auf Augenhöhe erleben zu können. </p>
      <p>Alle Teilnehmer sind dem Fairplay Gedanken verpflichtet. Es werden keinerlei Vorteile akzeptiert, die sich durch das Nutzen spielverändernder Drittsoftware ergeben und es ist das Ziel gesetzt, dass nur der Spieler den Unterschied ausmacht. Das versuchen wir durch entsprechende Regeln und Strukturen durchzusetzen. </p>
  </div>
</div>
<!-- Two -->
<div class="container inner-even">
  <div class="row ">
      <div class="col-md-12 inner head-blog">
        <header>
          <h2>Ihr wollt uns erreichen?</h2>
          <hr />
        </header>
      </div>
    <div class="col-xs-12 col-md-4 inner inner-4">
      <header>
        <h2>Discord Server</h2>
      </header>
      <p>Uns findet ihr hier. Zudem findet ihr noch viele andere Möglichkeiten euch zu informieren. Events, Content...</p>
      <a mat-stroked-button target="_blank" href="https://discord.gg/TqTGKWB">GML-Server</a>
    </div>
    <div class="col-xs-12 col-md-4 inner inner-4">
        <header>
          <h2>Twitter</h2>
        </header>
        <p>Folgt uns auf Twitter und erfahrt die Neuigkeiten als Erstes. Zeigt uns auch, was ihr so auf die Beine stellt!</p>
        <a mat-stroked-button target="_blank" href="https://twitter.com/thegermanleague" class="button alt">Twitter</a>
    </div>
    <div class="col-xs-12 col-md-4 inner inner-4">
        <header>
          <h2>Facebook</h2>
        </header>
        <p>Schaut rein und lernt etwas dabei. Erfahrt hier alles über die neue Meta, was sonst so läuft und die GML!</p>
        <a mat-stroked-button target="_blank" href="https://https://www.facebook.com/Germanmidweekleague-1907566896161918/" class="button alt">Facebook</a>
    </div>
  </div>
</div>
<!-- Three -->
<div class="container">
  <div class="row inner-odd">
    <div class="col-md-12 inner inner-header">
      <header>
        <h2>Es gibt ja nicht nur uns als einzigen Teil der deutschen Community...</h2>
      </header>
      <hr />
    </div>
    <div class="col-xs-12 col-md-4 inner inner-4">
      <header>
        <h3>11er Potluck</h3>
      </header>
      <p>Jeden ersten Mittwoch im Monat kommt es zu einem Clash der Rathaus-Titanen. Ist das eure Gewichtsklasse?</p>
      <a mat-stroked-button target="_blank" href="https://discord.gg/fAmycJH">11er Potluck</a>

    </div>
    <div class="col-xs-12 col-md-4 inner inner-4">
      <header>
        <h3>Local Clash</h3>
      </header>
      <p>Wollt ihr teilnehmen? Zuschauen? Wissen was das ist? Der Link zum Offline-Hochamt der deutschen Community.</p>
      <a mat-stroked-button target="_blank" href="https://discord.gg/Dt364CN">Local Clash</a>
    </div>
    <div class="col-xs-12 col-md-4 inner inner-4">
      <header>
        <h3>German Clashcup</h3>
      </header>
      <p>Sind euch 24h zu lang? Wollt ihr den direkten Gegnerkontakt? 5v5 könnte vielleicht euer Format sein.</p>
      <a mat-stroked-button target="_blank" href="https://discord.gg/TqTGKWB">GCC</a>
    </div>
  </div>
</div>
