
<div id="banner" >
  <div class="banner-content">
    <h1>German Midweekleague</h1>
    <p>Die deutsche Fairplayleague in Clash of Clans</p>
    <p>Jetzt <b><a href="https://templated.co/">hier anmelden</a></b> für die nächste Saison oder sei einfach <b><a href="https://templated.co/license">dabei</a></b>.</p>
    <a [ngx-scroll-to]="'#one'" button id="bannerButton" mat-raised-button color="accent"><b>Get Started</b></a>
  </div>
</div>
<!-- One -->
<div id="one" class="container inner-odd">
  <div class="col-md-12 inner">
    <div>
          <header>
            <h2>Lorem ipsum dolor</h2>
            <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
          </header>
          <hr />
          <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
          <p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est, efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien</p>
    </div>
  </div>
</div>
<!-- Two -->
  <div class="container">
    <div class="row inner-even">
      <div class="col-xs-12 col-md-4 inner">
        <header>
          <h3>Tempus Feugiat</h3>
        </header>
        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu</p>
        <a mat-stroked-button href="#" class="button alt">Learn More</a>

      </div>
      <div class="col-xs-12 col-md-4 inner">
        <header>
          <h3>Aliquam Nulla</h3>
        </header>
        <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed </p>
        <a mat-stroked-button href="#" class="button alt">Learn More</a>
      </div>
      <div class="col-xs-12 col-md-4 inner">
        <header>
          <h3>Sed Magna</h3>
        </header>
        <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
        <a mat-stroked-button href="#" class="button alt">Learn More</a>
      </div>
    </div>
  </div>
<!-- Three -->
<div class="container inner-odd">
  <div class="row ">
    <div class="col-xs-12 col-md-6 inner">
        <header>
          <h2>Lorem ipsum dolor</h2>
          <h4>maecenas feugiat ex purus, quis volutpat lacus placerat</h4>
        </header>
        <hr />
        <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
    </div>
    <div class="col-xs-12 col-md-6 inner">
        <header>
          <h2>Vestibulum sit amet</h2>
          <h4>mattis sapien pretium tellus venenatis</h4>
        </header>
        <hr />
        <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
    </div>
  </div>
</div>
<!-- Four -->
<div class="container inner-even">
  <div class="inner">
    <header>
      <h2>Morbi interdum mollis sapien</h2>
      <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
    </header>
  </div>
</div>
